#!/bin/zsh

#https://www.anand-iyer.com/blog/2018/a-simpler-way-to-manage-your-dotfiles.html
alias df='git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'

alias ls='exa -lax --group-directories-first'
# alias ls='ls -la --color=auto'

alias gpg-switch-key='gpg-connect-agent "scd serialno" "learn --force" /bye'

alias list-installed="pacman -Qq | fzf --preview 'pacman -Qil {}' --bind 'enter:execute(pacman -Qil {} | less)'"
alias list-all="pacman -Slq | fzf --preview 'pacman -Si {}'"

alias ..='cd ..'
alias ...='cd ...'

alias -g G='| grep'
alias -g L='| less'
alias -g H='| head'
alias -g T='| tail'

alias g='git'
alias ga='git add'
alias gs='git status'

