layout {
	swap_tiled_layout name="default" {
		tab max_panes=2 {
			pane borderless=true
		}
		tab max_panes=3 {
			pane split_direction="horizontal" {
				pane borderless=true
				pane borderless=true size="25%"
			}
			
		}
		tab max_panes=4 {
			pane split_direction="vertical" {
				pane split_direction="horizontal" {
					pane borderless=true
					pane borderless=true size="25%"
				}
				pane size="40%"
			}
		}
	}
	swap_tiled_layout name="equal" {
		tab max_panes=2 { 
			pane borderless=true 
		}
		tab max_panes=3 {
			pane split_direction="vertical" {
				pane borderless=true
				pane borderless=true
			}
		}
		tab max_panes=4 {
			pane split_direction="vertical" {
				pane borderless=true
				pane size="40%" split_direction="horizontal" {
					pane borderless=true
					pane borderless=true size="25%"
				}
			}
		}
	}

	default_tab_template {
    	children
		pane size=1 borderless=true {
			plugin location="file:$XDG_CONFIG_HOME/zellij/plugins/zjstatus.wasm" {
    	        format_left   "#[fg=white,bg=black][{session}]"
        	    format_center ""
        	    format_right  "#[fg=white,bg=black]{tabs}"
            	format_space  "#[bg=black]" 

            	tab_normal   "{index}:{name}  "
            	tab_active   "{index}:{name}* "

            	datetime          " {format} "
            	datetime_format   "%H:%M %d-%b-%y"
            	datetime_timezone "Europe/Oslo"

            	hide_frame_for_single_pane "true"
        	}
    	}
  	}
}
