* {
  font-family: sans-serif;
}

window {
  margin: 0px;
  background-color: #181e25;
}

#outer-box {
  margin: 0px;
  border: none;
  background-color: #181e25;
}

#inner-box {
  margin: 0px;
  padding: 8px;
  border: none;
  background-color: #181e25;
}

scroll {
  margin: 0px;
  border: none;
}

#input {
  margin: 8px;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #303c4b;
  background-color: #181e25;
  color: #eceaea;
}

#input:focus {
  box-shadow: none;
}

#input:focus:first-child> :nth-child(1) {
  color: #eceaea;
}

#text {
  margin: 0px;
  padding: 4px;
  border: none;
  color: #eceaea;
}

#text:selected {
  font-weight: bold;
}

#entry:selected {
  outline: none;
  background-color: #28323e;
}

#entry>* {
  color: #e87aa8;
}
