@define-color fg0 #cfc9c9;
@define-color fg1 #eceaea;
@define-color fg2 #f5f4f4;

@define-color base0 #101419;
@define-color base1 #202831;
@define-color base2 #384657;

@define-color red #ad343e;
@define-color orange #de6e4b;
@define-color blue #6db1bf;
@define-color darkblue #2c5a63;
@define-color magenta #ac7db5;
@define-color lightmagenta #e56399;
@define-color green #216869;
@define-color lgreen #75bba7;
@define-color yellow #f3de8a;
@define-color lyellow #f4ffd6;
@define-color lcyan #a2e8dd;
@define-color cyan #59dcb7;

* {
  font-size: 13px;
  font-family: sans-serif;
  outline-style: none;
  border: none;
  background-color: transparent;
}

#window {
  padding: 8px;
  color: @base0;
  background-color: #e7ebee;
  border-radius: 4px;
}

#input {
  border-radius: 0;
  border-bottom: 1px dotted @base0;
}

#scroll {
  margin: 0px;
  background-image: none;
}

#entry {
  padding: 4px 8px 4px 8px;
}

#entry:selected {
  border-left: 1px solid #313f4e;
  border-right: 1px solid #313f4e;
  background-color: @base1;
}

#entry:hover {
  background-color: @magenta;
}

#text:selected {
  color: @fg0;
  font-weight: bold;
}