@define-color fg0 #cfc9c9;
@define-color fg1 #eceaea;
@define-color fg2 #f5f4f4;

@define-color base0 #101419;
@define-color base1 #161c23;
@define-color base2 #384657;

@define-color red #ad343e;
@define-color orange #de6e4b;
@define-color blue #6db1bf;
@define-color darkblue #2c5a63;
@define-color magenta #ac7db5;
@define-color lightmagenta #e56399;
@define-color green #216869;
@define-color lgreen #75bba7;
@define-color yellow #f3de8a;
@define-color lyellow #f4ffd6;
@define-color lcyan #a2e8dd;
@define-color cyan #59dcb7;

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  border-image: none;
  font-size: 12px;
  font-family: sans-serif;
  color: inherit;
}

.background {
  background-color: alpha(@base1, 1);
}

box#bar {
  box-shadow:
    3.5px 1.6px 3.1px -1.3px rgba(10, 15, 21, 0.56),
    8.3px 3.9px 7.3px -2px rgba(10, 15, 21, 0.47),
    17.4px 8.2px 15.3px -2.7px rgba(10, 15, 21, 0.39),
    32.2px 15.2px 28.3px -3.4px rgba(10, 15, 21, 0.3),
    54.2px 25.6px 47.7px -4px rgba(10, 15, 21, 0.22),
    84.9px 40.2px 74.7px -4.7px rgba(10, 15, 21, 0.13);
}

.popup {
  padding: 8px;
  font-family: sans-serif;
  color: @fg0;
  background-color: @base1;
  box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.75);
}

.workspaces {
  margin-left: 16px;
  margin-right: 8px;
}

.workspaces .item {
  color: @fg0;
  font-weight: bold;
  margin: 4px 1px 4px 1px;
  border-radius: 4px;
}

.workspaces .item.focused {
  color: @base0;
  background-color: @lgreen;
}

.workspaces .item.focused .icon {
  color: @base0;
}

.workspaces .item:hover {
  color: @base0;
  background-color: @magenta;
}

.tray {
  margin-left: 8px;
  margin-right: 8px;
}

.tray .item {}

.clock {
  color: @fg0;
  margin-right: 16px;
  margin-left: 8px;
  font-weight: bold;
}

.popup-clock .calendar-clock {
  font-weight: bold;
}

.popup-clock .calendar {
  color: @fg0;
  background-color: @base1;
}

.popup-clock .calendar.selected {
  background-color: @magenta;
}

.seperator {
  color: #ffffff;
}

.power-btn .gtklabel {
  color: @fg0;
}

#power-menu-launcher {
  margin: 0 16px 0 8px;
  padding-left: 16px;
  border-radius: 0;
  border-left: 1px solid alpha(@fg0, 0.3);
  color: @fg0;
}

#power-menu-launcher:hover {
  color: @orange;
}

.power-popup .menu-btn {
  color: @fg0;
}

.power-popup .menu-btn:hover {
  background-color: @magenta;
}